@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* Red pagination bullets */
.swiper-pagination-bullet {
  background-color: #ef4444 !important; /* Tailwind red-500 */
  opacity: 0.7;
  size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #ef4444 !important;
  opacity: 1;
}
span.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}
.swiper-button-prev, .swiper-button-next {
  color: #ef4444 !important; /* Tailwind red-500 */
}

@media (max-width: 1023px) {
span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
}